# Ignore the entire Git history (The primary culprit)
.git/
.github/

# Ignore local dependencies and build artifacts
node_modules/
.next/
dist/
build/
out/

# Ignore IDE settings
.vscode/
.vs/
.idea/

# Common OS/Tooling files
**/.classpath
**/.project
**/.settings
**/bin
**/obj
.DS_Store
Thumbs.db

# Secrets (Prevent accidental leaks to the image)
**/.env
**/.env.local
**/.env.*.local
**/secrets.dev.yaml

# Exclude Docker files from the image itself
Dockerfile*
docker-compose*
.devcontainer/

# ONLY allow the .gitignore file to stay
!**/.gitignore